---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi I'm Chris.</h1>
			<p>
				我是一名前端工程師，曾經做過平面設計、網頁設計、影片製作，因為被網頁互動所吸引，朝著網頁製作的旅途前行。<br />
				某一次當時公司徵求網頁製作技能的初新者，我接下了這個副本任務，開啟了我的前端旅程，過程中有驚喜也有迷惘，結束每天上班關卡後，迎來了自由業關卡。
			</p>
			<p>
				西元 2024 年，我的面前出現了一個支線任務，需要和一位朋友一同打造一個 Web3 產品，我的前端職業路線就此出現了分支。<br />
				我是初次參與產品設計以及 Web3 網頁開發，一起討論產品定位以及品牌故事，共同開發 Web3 網頁前端、後端功能，讓我對區塊鏈產業產生了興趣。
			</p>
			<blockquote>
				貓又教練說：「興趣是最好的老師。」
			</blockquote>
			<p>
				大家在冒險的過程中，總是有那麼幾件事會是你喜歡的，有些人可能喜歡種菜，有些人可能喜歡釣魚，我喜歡前端開發。<br />
				我們只是喜歡這些事情，所以試著去做，有時候會懷疑自己做的不夠好，那也沒關係，我願意繼續嘗試。
			</p>
			<p>
				我想在這這裡記錄這個冒險旅程，偶爾寫寫程式，偶爾寫寫心情，過一段時間再來看一下，把這裡變成我的回憶，希望我有一天能夠大聲的說出心中的那一句話。
			</p>
			<blockquote>
				如果是勇者欣梅爾的話，他一定也會這麼做的。
			</blockquote>
		</main>
		<Footer />
	</body>
</html>
