---
const today = new Date();
---

<footer>
	Powered by Astro and Bear
	<div class="social-links">
		<a href="https://x.com/fanchi0917" target="_blank">
			<span class="sr-only">Follow Chris on X</span>
			X
		</a>
		<a href="https://github.com/fantzulin" target="_blank">
			<span class="sr-only">Go to Chris's GitHub repo</span>
			GitHub
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 0 1em;
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--monokai-white);
	}
</style>
